version: "3.9"

services:
  postgres:
    image: docker.io/library/postgres:latest
    container_name: postgres_container
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"   # host:container
    volumes:
      - postgres_data:/var/lib/postgresql

  pgadmin:
    image: docker.io/dpage/pgadmin4:latest
    container_name: pgadmin_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "8080:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin_data:/var/lib/pgadmin

  api:
    build: .
    container_name: productos_api
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgresql://admin:admin123@postgres:5432/mydb
    ports:
      - "7001:7001"
    volumes:
      - .:/app
      
volumes:
  postgres_data:
  pgadmin_data:
